*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --header-width: 30vw;
    --main-font-color: rgb(62, 62, 62);
    --padding: 8%;
}

@font-face {
    font-family: Norse-bold;
    src: url("../fonts/Norse-Bold.otf") format("opentype");
    color: white;
}

#header{
    position: absolute;
    background-image: url('../images/coolmntn.jpg');
    background-repeat: no-repeat;
    width: var(--header-width);
    height: 100vh;
    background-position: 42% 50%;
}

#title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45%;

    background-color: #2e2e2e78;
    font-family: Norse-bold;
    color: white;
    font-size: 90px;
    height: 180px;
}

#logo-img{
    height: 90%;
}

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(237, 237, 237);
    color: var(--main-font-color);
}

.title{
    font-size: 1.5rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    line-height: 1.6rem;
    font-weight: 700;
}

#sub-title{
    margin-top: 2rem;
    margin-bottom: 2.3rem;
}

#sub-title span{
    font-style: italic;
}

#sign-in{
    position: relative;
    height: 100vh;
    left: var(--header-width);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100vw - var(--header-width));
}

#sign-in-form{
    width: 100%;
    background-color: white;
    margin-top: 2rem;
    padding: 4% var(--padding);
    box-shadow: 0px 8px 8px 0px #CCCCCC;
}

#form{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

#form-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
}


label{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(77, 77, 77);
}

input{
    height: 35px;
    margin-top: .5rem;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
}

input:focus{
    border: 2px solid #85a9f0;
    outline: none;
    box-shadow: 3px 3px 3px 0px #CCCCCC;
}

.invalid{
    border: 2px solid red;
    color: red;
}

.invalid:focus{
    border: 2px solid red;
}

#error-msg{
    color: red;
}

#submit{
    margin-left: 8%;
    width: 300px;
    height: 50px;
    background-color: #f10b76;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #CCCCCC;
}

#submit:hover{
    cursor: pointer;
    background-color: #f5368f;
}

#log-in{
    font-size: 18px;
    margin-top: 1.3rem;
    margin-left: 8%;
    font-weight: 700;
}

#log-in a{
    color: #f5368f;
    text-decoration: underline;
}



@media only screen and (max-width: 600px){
    #header{
        position: relative;
        margin-top: 0;
        width: 100vw;
        height: 50vh;
        background-position: 45% 65%;
    }

    #title-container{
        margin-top: 0%;
    }

    #sign-in{
        left: auto;
        width: 100%;
        height: auto;
    }

    .title{
        font-size: 20px;
        margin-top: 1.8rem;
        line-height: 1.8rem;
    }

    #sub-title{
        margin-bottom: 0;
    }

    #form{
        flex-direction: column;
    }

    label{
        width: 100%;
    }

    #sign-in-form{
        padding: var(--padding);
    }
}

